#contact iframe
{
    width: 100%;
}
.travel_mainDiv h4, p{

margin-left: 20px;
}
.travel_mainDiv{
    padding : 10px;
    border: 2px solid rgb(130, 127, 127);
}
.movies_head{
    font-size: 25px;
    padding:8px 22px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.movies_head i {
    float: right;
}

.movies_text{
    color: purple;
}

.movies_text span{
    color: rgb(30, 128, 0);
}
#rating{
    
    color: rgb(227, 20, 48);
 
}